.wizard-form {
    display: flex;
    flex-direction: column;
    height: 750px;
    width: 600px;
    margin: auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(221, 216, 216, 0.1);
    border-radius: 9px;
    border: 9px solid #135F99;

}

.wizard-header {
    height: 50px;
    text-align: center;
    background-color: #ffffff;
    padding: 40px;
}

.wizard-main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    background-color: #fff;
}

.wizard-footer {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 20px;

}
    

.wizard-footer-contact {
    height: 100px;
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: #ffffff;
    padding: 20px;
}
    

.color-label-circle-active {
    background-color: #135F99 !important;
    color: #ffffff !important;
    margin: 0px 9px !important;
}

.color-label-circle {
    background-color: #8D8D99 !important;
    color: #ffffff !important;
    margin: 0px 9px !important;
}

.color-label-circle-sucess {
    color: #1D8841 !important;
    margin: 0px 9px !important;
}

.header-form {
    color: #135F99 !important;
}

.blue-label {
    color: #135F99 !important;
}

.buttons-internal-forms-contact {
    display: flex;
    justify-content: end;
}

.buttons-internal-forms-adress-verification {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.btn-internal-forms-continous {
    background-color: #135F99 !important;
    color: #ffffff !important;
}

.btn-internal-forms-back {
    background-color: #ffffff !important;
    color: #135F99 !important;
}

/**/
.input-container {
    display: flex;
    flex-direction: column;
}

.msg-codigo-verificacao{
    color: brown;
}

.btn-enviar-codigo{
    border: none;
    background-color: #135F99;
    color: #fff;
    padding: 4px;
    border-radius: 4px;
}


.div-nao-recebeu-codigo{
    margin: 25px 0px;
}
.div-nao-recebeu-codigo p{
    margin: 0px 0px;
}

.reenviar-codigo{
    text-decoration: underline;
    cursor: pointer;
}

.reenviar-codigo:hover{
    color: #135F99;
}